
/*TUDO*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}
/* Menu de Naveção*/
.menu{
    display: flex;
    background: rgb(92, 92, 92);
    color: rgb(255, 255, 255);
    justify-content: center;
    position: fixed;
    top: 0;
    width:  100%;
}

.menu .nav-menu{
    width: 60%;
    display: flex;
    justify-content:  center;
    padding: 20px 0px;
}


.menu .nav-menu ul{
    display: flex;
    list-style: none;
    font-weight: bold;
}

.menu .nav-menu ul li{
    padding: 0 20px;
    transition: all 500ms ease;
}

.menu .nav-menu ul li a:hover{
    color: #e0d4d4;
    cursor: pointer;
}

a{
    text-decoration: none;
}

/* Links */
a:visited{
    color: black;
}



#meio{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: color;
}





/* footers ou rodapé*/
#footer{
    background: rgb(92, 92, 92);
    color: white;
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 400px;
    
}

#footer-conteudo{
    width: 50%;
    margin: auto;
    padding: 80px 0;
    justify-content: space-between;
    padding-top: 120px;
    
}

#direitos-autorais{
    font-size: 15px;
    padding: 80px 0;
    text-align: center;
}

#direitos-autorais p:hover{
    font-size: 15px;
    color: #e0d4d4;
    cursor: pointer;
}
#brasil-bandeira{
    height: 20px;
    width: auto;
    
}


